.button
  background-color: #1abc9c
  padding: 15px 10px
  border-radius: 4px
  box-shadow: 0px 3px #15987e
  text-align: center
  margin-bottom: 3px
  display: block
  text-decoration: none
  box-sizing: border-box
  width: 100%
  border: 0
  cursor: pointer

  span
    color: #fff
    font-weight: 800
    font-size: 17px
