.main-banner
  background-color: #000000
  overflow: hidden
  padding-top: 65px

  @media (min-width: 768px)
    padding-top: 95px

  @media (min-width: 2000px)
    background-image: url('../../images/banner-img-desktop.jpg')
    background-size: cover
    background-position: center center

  &__height
    height: 600px

  &__text
    margin: 0
    color: #FFFFFF
    font-size: 32px
    line-height: 1em
    position: absolute
    top: 35px
    z-index: 2
    left: 50%
    transform: translateX(-50%)
    width: 300px

    @media (min-width: 520px)
      text-align: right
      width: 500px
      top: 75px

    @media (min-width: 768px)
      top: 42px
      text-align: right
      font-size: 42px
      line-height: 1.2em
      width: 718px

    @media (min-width: 1024px)
      font-size: 48px
      width: 907px

    @media (min-width: 1366px)
      width: 1170px

  @media (min-width: 768px)
    &__text-line-one
      margin-right: 45px

      @media (min-width: 1024px)
        margin-right: 80px

  &__bg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-43%)
    z-index: 1
    height: 125%
    transition: all 0.5s ease

    @media (min-width: 520px)
      height: 175%
      transform: translate(-53%,-46%)

    @media (min-width: 768px)
      height: 245%
      transform: translate(-53%,-45%)

    @media (min-width: 1024px)
      transform: translate(-59.2%, -44.3%)

    @media (min-width: 2000px)
      display: none

.video-button
  position: absolute
  top: 136px
  left: 50%
  width: 145px
  text-align: center
  cursor: pointer
  z-index: 2

  &:hover
    + .main-banner__bg
      opacity: 0.5

  @media (min-width: 520px)
    right: 50%
    top: inherit
    bottom: 160px
    transform: translateX(90px)

  @media (min-width: 768px)
    width: 190px
    bottom: 140px
    transform: translateX(140px)

  @media (min-width: 1024px)
    bottom: 130px
    transform: translateX(230px)

  &__icon
    width: 55px
    height: 55px
    margin-bottom: 10px

    @media (min-width: 768px)
      width: 62px
      height: 62px

  &__label
    text-transform: uppercase
    color: #FFFFFF
    font-weight: bold
    font-size: 12px

    @media (min-width: 768px)
      font-size: 16px