.destinations-content-block
  width: 100%
  background-color: #006294

  &__img
    width: 100%

  &__body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 23px

  &__description
    color: #fff
    font-size: 16px
    font-weight: 500
    text-align: center
    margin: 0
    margin-bottom: 25px
    padding: 0 22px
    line-height: 1.3em
    min-height: 1.3*3em

    @media (min-width: 768px)
      padding: 0 35px

    @media (min-width: 1280px)
      padding: 0 30px

