.search-container
  background-image: linear-gradient(to left, #15a7e2, #005cbc)
  padding: 50px 0

  &__block
    background-color: #ffffff
    border-radius: 4px
    padding: 10px 10px 0px 10px
    margin-bottom: 48px

  h2
    text-align: center
    color: #fff
    font-weight: 700
    max-width: 1066px
    font-size: 24px
    margin: 0
    margin-right: auto
    margin-left: auto
    padding: 48px 10px
    padding-top: 0

    @media ( min-width: 768px)
      font-size: 32px

    @media ( min-width: 1024px)
      font-size: 40px

  &__footer
    color: #fff
    text-transform: uppercase
    font-size: 11px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @media ( min-width: 425px )
      flex-direction: row

    span
      font-size: 14px
      font-weight: 800

    &--security,
    &--payments
      display: flex

    &--security
      flex-direction: row-reverse

      @media ( min-width: 425px )
        flex-direction: row

      img
        margin-right: 18px

        @media ( min-width: 425px )
          margin: 0
          margin-left: 18px

    &--payments
      border-top: 1px solid #fff
      padding-top: 10px
      margin-top: 10px

      @media ( min-width: 425px )
        border: 0
        padding: 0
        margin: 0
        padding-left: 18px
        margin-left: 18px
        border-left: 1px solid #fff

      img
        margin-right: 18px