.characteristics-content-block
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  height: 100%
  background-color: #006294

  @media ( min-width: 1024px )
    flex-direction: row

  &__icon
    max-width: 130px
    width: 100%
    display: none

    @media ( min-width: 1024px )
      margin: 30px
      display: block

    @media ( min-width: 1366px )
      margin: 50px
      margin-left: 30px

  &__context
    color: #fff
    padding: 25px 10px
    display: flex
    flex-direction: column
    justify-content: center
    position: relative

    @media ( min-width: 600px )
      padding: 55px 48px

    @media ( min-width: 1024px )
      padding: 40px 30px
      padding-left: 0

    h4
      font-size: 24px
      margin: 0
      margin-bottom: 20px

      @media ( min-width: 1024px )
        padding-left: 35px

    p
      font-size: 14px
      font-weight: 100
      margin: 0
      line-height: 1.4

      @media ( min-width: 1024px )
        padding-left: 35px

  &__context:before

    @media ( min-width: 1024px )
      content: " "
      position: absolute
      border: 0
      border-left: 2px #fff solid
      height: 65%
      margin-top: auto
      margin-bottom: auto

