.modal
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-color: rgba(0,0,0,0.9)
  transition: all 0.5s ease
  z-index: 9
  padding: 50px
  box-sizing: border-box

  &--closing
    opacity: 0

  &__content
    width: 100%
    height: 100%
    background-color: #000000
    position: relative

    iframe
      width: 100%
      height: 100%

  &__close-button
    width: 27px
    height: 27px
    border: 3px solid #ffffff
    border-radius: 50%
    position: absolute
    top: 15px
    right: 15px
    cursor: pointer

    &:after,
    &:before
      content: ''
      width: 3px
      border-radius: 4px
      height: 50%
      background-color: #FFFFFF
      position: absolute
      top: 50%
      left: 50%

    &:after
      transform: translate(-50%,-50%) rotate(45deg)

    &:before
      transform: translate(-50%,-50%) rotate(-45deg)