.main-header
  text-align: center
  padding: 17px 0 18px 0
  font-size: 0
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005cbc+0,15a7e2+100 */
  background: #005cbc
  background: -moz-linear-gradient(left,  #005cbc 0%, #15a7e2 100%)
  background: -webkit-linear-gradient(left,  #005cbc 0%,#15a7e2 100%)
  background: linear-gradient(to right,  #005cbc 0%,#15a7e2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005cbc', endColorstr='#15a7e2',GradientType=1 )
  position: fixed
  z-index: 3
  width: 100%
  

  @media (min-width: 768px)
    text-align: left
    padding: 24px 0 23px 0

  &__logo
    width: 128px
    height: auto

    @media (min-width: 768px)
      width: 172px