.footer-container
  background-color: #3f3f3f
  padding: 50px  0px

  @media ( min-width: 1024px )
    padding: 80px 0px

  &__wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%

    @media ( min-width: 1024px )
      flex-direction: row

  &__logo
    width: 128px
    height: auto
    align-self: center

    @media ( min-width: 768px )
      width: 172px

  &__informations
    display: flex
    flex-direction: column
    margin-top: 50px

    @media ( min-width: 768px )
      flex-direction: row
      justify-content: center

    @media ( min-width: 1024px )
      margin: 0

  &__social-midia
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    padding-top: 50px
    margin-top: 50px

    @media ( min-width: 768px )
      padding: 0
      margin: 0
      padding-left: 50px
      margin-left: 50px
      flex-direction: row
      border: none
      border-left: 1px solid #fff

    @media ( min-width: 1366px )
      padding-left: 100px
      margin-left: 100px

    p
      color: #fff
      font-size: 16px
      font-weight: 500
      margin: 0
      margin-bottom: 30px

      @media ( min-width: 768px )
        margin: 0

  &__social-midia:before
    content: " "
    position: absolute
    top: 0
    border: 0
    border-top: 2px #fff solid
    width: 75%
    margin-right: auto
    margin-left: auto

    @media ( min-width: 768px )
      border: 0

.contact-container
  display: flex
  flex-direction: row
  justify-content: center

  @media ( min-width: 768px )
    justify-content: end

  img
    max-width: 20px
    display: none

    @media ( min-width: 768px )
      display: block

  a
    margin: 0
    color: #fff
    font-size: 16px
    font-weight: 500
    text-decoration: none

    @media ( min-width: 768px )
      margin-left: 10px

.contact-container:not(:last-child)
  margin-bottom: 10px


.social-midia-container

  @media ( min-width: 768px )
    margin-left: 27px

  img
    max-width: 36px

  a:not(:last-child)
    margin-right: 4px

