.destinations-container
  background-color: #edf3f8
  overflow: hidden

  h2
    text-align: center
    color: #006294
    font-weight: 700
    max-width: 774px
    font-size: 24px
    margin: 0
    margin-right: auto
    margin-left: auto
    padding: 48px 0

    @media ( min-width: 768px )
      font-size: 32px

    @media ( min-width: 1024px )
      font-size: 40px

  &__body
    justify-content: center
    padding-bottom: 25px

    @media (min-width: 768px)
      padding-bottom: 0

    @media (min-width: 1280px)
      margin: 0 auto
      max-width: 1280px

  &__slide
    padding: 0 10px
    box-sizing: border-box

    @media (min-width: 768px)
      padding: 0 12px

  .swiper-container
    width: 100%
    padding-bottom: 45px
    box-sizing: border-box
    padding-right: 2px
    padding-left: 2px

    @media (min-width: 768px)
      padding-right: 0
      padding-left: 0

    .swiper-slide
      width: 290px

      @media (min-width: 768px)
        width: 320px

      @media (min-width: 1280px)
        width: 25%

    .swiper-pagination
      bottom: 0

      @media (min-width: 768px)
        display: none

      .swiper-pagination-bullet
        border: 2px solid #979797
        width: 12px
        height: 12px
        background: rgba(255,255,255,0)
        opacity: 1
        position: relative
        margin: 0 2px

        &:after
          content: ''
          width: 6px
          height: 6px
          position: absolute
          top: 50%
          left: 50%
          background-color: #979797
          border-radius: 50%
          transform: translate(-50%,-50%)
          opacity: 0
          transition: all 0.5s ease

        &-active
          &:after
            opacity: 1
