.related-videos-container
  background-color: #d8dcde
  padding: 25px 0

  @media ( min-width: 768px )
    padding: 50px 0

  h2
    color: #006294
    font-size: 24px
    font-weight: 700
    text-align: center
    max-width: 224px
    margin: 0
    margin-right: auto
    margin-left: auto
    margin-bottom: 25px

    @media ( min-width: 425px )
      max-width: 425px

    @media ( min-width: 768px )
      font-size: 32px
      margin-bottom: 50px
      max-width: 600px

    @media ( min-width: 1024px )
      max-width: 768px
      font-size: 40px

  @media ( min-width: 1280px )
    &__body
      max-width: 1280px
      margin: 0 auto

  &__slide
    padding-bottom: 24px
    box-sizing: border-box

    @media ( min-width: 500px )
      width: 400px
      padding: 0 12px

    @media (min-width: 1200px)
      width: 100%

  .swiper-videos-container
    width: 100%
    overflow: hidden

    .swiper-wrapper
      display: flex

      @media ( max-width: 500px )
        display: block
        transform: translate3d(0px, 0px, 0px) !important

      .swiper-slide
        width: auto
        padding: 0 12px

        @media (min-width: 500px)
          padding: 0

        @media (min-width: 1200px)
          width: 33.333%