.characteristics-container
  background-color: #edf3f8

  h2
    text-align: center
    color: #006294
    font-weight: 700
    max-width: 774px
    font-size: 24px
    margin: 0
    margin-right: auto
    margin-left: auto
    padding: 25px 0

    @media ( min-width: 768px )
      padding: 48px 0
      font-size: 32px

    @media ( min-width: 1024px )
      font-size: 40px

  &__body
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    margin: 0 -10px

    @media ( min-width: 768px )
      padding-bottom: 25px

    @media ( min-width: 850px )
      margin: 0 -8px
      padding-bottom: 50px

    @media ( min-width: 1024px )
      margin: 0 -10px

    @media ( min-width: 1366px )
      margin: 0 -12px

  &__item
    display: flex
    flex-direction: column
    flex-basis: 100%
    flex: 1
    min-width: 289px
    max-width: 616px
    margin: 0 10px 25px 10px

    @media ( min-width: 850px )
      min-width: 368px
      margin: 8px

    @media ( min-width: 1024px )
      min-width: 414px
      margin: 10px

    @media ( min-width: 1366px )
      margin: 12px



