.related-videos
  background-color: #3f3f3f
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  display: flex
  flex-direction: column
  padding: 20px
  box-sizing: border-box

  p
    margin: 0
    color: #fff
    font-size: 24px
    font-weight: 700
    max-width: 200px
    margin-top: 95px
    margin-bottom: 20px

  &__button-container
    width: 140px

.related-videos:not(:last-child)
  margin-bottom: 25px
